@model TourAgency.Models.HotelOrderViewModel

@{
    ViewBag.Title = "Бронирование отеля";
}

<h2>Бронирование отеля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <label>@Html.DisplayNameFor(item => item.EntranceDate)</label>
        <div>
            <input type="date" name="EntranceDate" value="@Model.EntranceDate" />
        </div>
    </div>
    <hr />
    <div>
        <label>@Html.DisplayNameFor(item => item.EvictionDate)</label>
        <div>
            <input type="date" name="EvictionDate" value="@Model.EvictionDate" />
        </div>
    </div>

        <div class="form-horizontal">
            <input type="hidden" name="HotelId" value="@Model.HotelId" />
            <input type="hidden" name="Hotel" value="@Model.Hotel" />
            <input type="hidden" name="Email" value="@Model.Email" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                </div>
            </div>
        </div>

     <input type="submit" value="Подтвердить заказ" class="btn btn-primary" />
}
<h4></h4>
<div>
    @Html.ActionLink("К выбору отелей", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}