@model TourAgency.Models.HotelOrderViewModel

@{
    ViewBag.Title = "Бронирование отеля";
}

<h2>Бронирование отеля</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.DisplayNameFor(item => item.EntranceDate) @*Подумать над вводом дат и правильно их разместить, доделать вывод информации об отеле*@ 

    <input type="date" name="EntranceDate" value="@Model.EntranceDate" />
            @Html.DisplayNameFor(item => item.EvictionDate)
            <input type="date" name="EvictionDate" value="@Model.EvictionDate" />

        <div class="form-horizontal">
            <input type="hidden" name="HotelId" value="@Model.HotelId" />
            <input type="hidden" name="Hotel" value="@Model.Hotel" />
            <input type="hidden" name="Email" value="@Model.Email" />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Подтвердить заказ" class="btn btn-primary" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("К выбору отелей", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}